* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.red {
    background: #ff3636;
}

.green {
    background: #51ff51;
}

.blue {
    background: #5e5eff;
}

.yellow {
    background: #fefe55;
}

.rose {
    background: #fc61fc;
}

.p-10 {
    padding: 10px;
}

.m-top {
    margin-top: 10px;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.col-50 {
    width: 50%;
}

.col-25 {
    width: 25%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col {
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}

.content {
    height: 200px;
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    .col-50 {
        width: 100%;
        margin-bottom: -10px;
    }

    .col-50-1 {
        margin-bottom: 0;
    }

    .col-25 {
        width: 50%;
    }

    .col-60 {
        width: 100%;
    }

    .col-40 {
        width: 100%;
    }

}
